.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c0c0c;
  }
  
  .hello-text {
    font-size: 3rem;
    color: #ffffff;
    animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 0.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  